# {{ ansible_managed }}
#
#---------------------------------------------------------------------------
# OpenSSL configuration file.

dir = {{ certificates_ca_directory }}

[ ca ]
default_ca = CA_default
x509_extensions	= v3_ca

[ CA_default ]
serial         = $dir/serial
database       = $dir/index.txt
new_certs_dir  = $dir/certs
private_key    = $dir/private/ca.key
certificate    = $dir/certs/ca.crt
default_md     = sha256
default_days   = 7300

preserve    = no
email_in_dn = no
policy      = policy_match
nameopt     = default_ca
certopt     = default_ca

unique_subject  = no
copy_extensions = copy

[ policy_match ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ req ]
{% if certificates_key_type == 'rsa' %}
default_bits         = {{ certificates_rsa_key_size }}
{% endif %}
default_keyfile      = privkey.pem
prompt               = no
basicConstraints     = CA:FALSE
subjectKeyIdentifier = hash
extendedKeyUsage     = serverAuth, clientAuth

[ v3_ca ]
basicConstraints        = CA:TRUE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer:always
nsCertType              = sslCA
keyUsage                = cRLSign, keyCertSign
extendedKeyUsage        = serverAuth, clientAuth

[ ssl_server ]
basicConstraints        = CA:FALSE
nsCertType              = server
{% if certificates_key_type == 'ec' %}
keyUsage                = digitalSignature, keyAgreement
{% else %}
keyUsage                = digitalSignature, keyEncipherment
{% endif %}
extendedKeyUsage        = serverAuth, nsSGC, msSGC
nsComment               = "OpenSSL Certificate for SSL Web Server"

[ ssl_client ]
basicConstraints        = CA:FALSE
nsCertType              = client
{% if certificates_key_type == 'ec' %}
keyUsage                = digitalSignature, keyAgreement
{% else %}
keyUsage                = digitalSignature, keyEncipherment
{% endif %}
extendedKeyUsage        = clientAuth
nsComment               = "OpenSSL Certificate for SSL Client"

[ signing_req ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
